/*-----CSS Variables----*/
/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --light-primary-color: #C5CAE9;
  --text-primary-color: #FFFFFF;
  --accent-color: #51a7f8;
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #595959;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sub-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.label {
  font-size: 1.5rem;
  color: var(--text-primary-color);
  background: var(--default-primary-color);
  padding: 1rem;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
}

#editor, #preview {
  padding: 1rem;
  background: var(--light-primary-color);
}

@media only screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
